In [ ]:
from typing import Tuple
from math import floor

import pandas as pd

In [12]:
def integer_proportion_1_n(a: int, b: int) -> Tuple[int, int]:
  return (1, floor(b / a))

## Preparação de Dados

In [13]:
cleaned_data = pd.read_csv("../data/academic_works.csv")

In [14]:
result = (
  cleaned_data
  .groupby('db_source')['included']
  .agg(
    included_1=lambda x: (x == 1).sum(),
    included_0=lambda x: (x == 0).sum()
  )
  .reset_index()
)


result['included:excluded'] = result.apply(
  lambda row: ":".join(map(str, integer_proportion_1_n(row['included_1'], row['included_0']))),
  axis=1
)

result

                  db_source  included_1  included_0 included:excluded
0             aceinhibitors          41        2194              1:53
1                      adhd          20         783              1:39
2            antihistamines          16         271              1:16
3   appenzeller_herzog_2020          26        2333              1:89
4    atypicalantipsychotics         145         886               1:6
5        bannach_brown_2019         251        1348               1:5
6              betablockers          42        1831              1:43
7                  bos_2018          11        5601             1:509
8    calciumchannelblockers          95        1013              1:10
9                 estrogens          79         270               1:3
10                hall_2012         104        8807              1:84
11          kitchenham_2010          45        1655              1:36
12                kwok_2020         114        2191              1:19
13           nagtegaal_2019         100        1750              1:17
14                   nsaids          41         317               1:7
15                   opiods          15        1757             1:117
16        oralhypoglycemics         132         343               1:2
17     protonpumpinhibitors          50        1161              1:23
18          radjenovic_2013          48        5952             1:124
19  skeletalmusclerelaxants           9        1343             1:149
20                  statins          82        2661              1:32
21                 triptans          24         570              1:23
22      urinaryincontinence          38         246               1:6
23       van_de_schoot_2017          42        5383             1:128
24             van_dis_2020          66       10449             1:158
25              wahono_2015          62        6940             1:111
26             wolters_2018          19        4198             1:220